
<div ng-hide="vm.editMode">
	<p>Date: {{vm.trip.date | date: "MM-dd-yyyy"}}</p>
	<p>Starting miles: {{vm.trip.startMiles}}</p>
	<p>Ending miles: {{vm.trip.endMiles}}</p>
	<button ng-click="vm.goBack()">Back to List</button>
	<button ng-click="vm.editMode = true; vm.setEditTrip()">Edit</button>
</div>

<form ng-show="vm.editMode">
	<input type="text" ng-model="vm.trip.date"/>
	<input type="text" ng-model="vm.trip.startMiles"/>
	<input type="text" ng-model="vm.trip.endMiles"/>
	<button ng-click="vm.save()">Save Changes</button>
	<button ng-click="vm.editMode = false; vm.editTrip = null">Cancel</button>
</form>